<h1>Student #<%= @student.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @student.name %></p>
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @student.email %></p>
</div>

<div>
  <strong>course</strong>:<br />
  <ul>
    <% @course.each do |course| %>
        <li>
          <%= course.name %>
        </li>
      <%end%>
    </ul>
</div>

<a href="/students/<%= @student.id %>/edit">Edit</a>
<a href="/students/<%= @student.id %>/destroy">Destroy</a>
