<h1>Enrollments</h1>

<p><a href="/new_enrollment">Add a New Enrollment</a></p>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Course</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @enrollments.each do |enrollment| %>
    <tr>
          <td><%= enrollment.student_id %></td>
          <td><%= enrollment.course_id %></td>
          <td><a href="/enrollments/<%= enrollment.id %>">Show</a>
        </td>
      <td><a href="/enrollments/<%= enrollment.id %>/edit">Edit</a></td>
      <td><a href="/enrollments/<%= enrollment.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

